*{
    margin: 0;
    padding: 0;
  
}

body{
    background: red;
}

section{
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.container{
    text-align: center;
    margin-left: 50%;
    float: center;
}