h5 {
    font-size: 0px;
}

body {
    background-color: red;
}

section {
    padding: 1%;
    border: 1px solid white;
    border-radius: 6px;
    width: 50%;
    margin: auto;
    box-shadow: 3px 3px 0 grey;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 2%;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: black;
}

article {
    font-size: 23px;
}

h4 {
    font-size: 17px;
}

table {
    margin: auto;
}

.valider {
    font-size: 20px;
    text-align: center;
}

input {
    background-color: white;
    color: black;
}

img {
    width: 126px;
    height: 145px;
}

td {
    letter-spacing: -2px;
    word-spacing: -3px;
}

a {
    color: white;
}